exportPattern("^[[:alpha:]]+")
importFrom("stats", "aggregate", "qgamma")
importFrom("ggplot2", "ggplot","geom_line","aes",
           "scale_y_continuous", "scale_x_continuous",
           "geom_ribbon", "labs", "xlab", "ylab")